<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions to access the internet and network state -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.CKM"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".CKMMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity android:name=".LoginActivity" />

        <!-- Account Activity -->
        <activity android:name=".AccountActivity" />

        <!-- Sign Up Activity -->
        <activity android:name=".SignUpActivity" />

    </application>
</manifest>
